{% extends 'receiver/index.html' %}
{% block title %}Визначення вартісної оцінки{% endblock %}
{% block content %}
    {% load static %}
    <style>
        button#clients {
            background-color: #69D1E8;
        }
    </style>
    <div>
        <div><input id="search-text" class="search" type="text" placeholder="Поиск" onkeyup="tableSearch()">
            <a href={% url 'receiver:add_clients' %}>
                <button class="btn btn-dark my-2 my-sm-0" type="submit">Додати</button>
            </a></div>
        <table id="info-table" class="table table_sort">

            <thead>
            <th>№</th>
            <th>Ім’я</th>
            <th>Прізвище</th>
            <th>Номер телефону</th>
            <th>Кількість замовлень</th>
            <th>Дата останнього замовлення</th>
            <th>Загальна сума замовлень</th>
            <th></th>
            <th></th>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.id }}</td>
                    <td>{{ client.user.first_name }}</td>
                    <td>{{ client.user.last_name }}</td>
                    <td>{{ client.phone }}</td>
                    <td>21</td>
                    <td>12</td>
                    <td>21</td>
                    <td>
                        <a href={% url 'receiver:upd_clients'  client.id  %}>
                            <button class="btn btn-dark my-2 my-sm-0" type="submit">Update</button>
                        </a>
                    </td>
                    <td>
                        <a href={% url 'receiver:del_clients'  client.id  %}>
                            <button class="btn btn-dark my-2 my-sm-0" type="submit">Delete</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}