{% extends 'base.html' %} {% block title %}Приймальник замовлень{% endblock %}
{% block content %} {% load static %}

<div class="sidebar">
        {% if user.is_authenticated %}
            <div class="top">
                <li><a class="nav-link active" href="">
                    <button class="btn btn-outline-primary side-btn">Клієнти</button>
                </a></li>
                <li><a class="nav-link active" href="">
                    <button class="btn btn-outline-primary side-btn">Замовлення</button>
                </a></li>
                <li><a class="nav-link active" href="">
                    <button class="btn btn-outline-primary side-btn">
                        Список виконаних послуг
                    </button>
                </a></li>
                <li><a class="nav-link active" href="">
                    <button class="btn btn-outline-primary side-btn">Список послуг</button>
                </a></li>
            </div>
            <div class="down">
                <li><a class="nav-link active " href="">
                    <button class="btn btn-outline-primary side-btn">Реєстрація замовлення</button>
                </a></li>
            </div>

        {% endif %}
    </div>

    <div class="row">

    </div>
{% endblock %}
