{% extends 'base.html' %} {% block title %}Приймальник замовлень{% endblock %}
{% block page %} {% load static %}

<div class="sidebar">
        {% if user.is_authenticated %}
            <div class="top">
                <li><a class="nav-link active" href={% url 'receiver:clients' %}>
                    <button id="clients">Клієнти</button>
                </a></li>
                <li><a class="nav-link active" href={% url 'receiver:orders' %}>
                    <button id="orders">Замовлення</button>
                </a></li>
                <li><a class="nav-link active" href={% url 'receiver:services_done' %}>
                    <button id="services_done">
                        Список виконаних послуг
                    </button>
                </a></li>
                <li><a class="nav-link active" href={% url 'receiver:services' %}>
                    <button id="services">Список послуг</button>
                </a></li>
            </div>
            <div class="down">
                <li><a class="nav-link active " href={% url 'receiver:add_order' %}>
                    <button id="add_order">Реєстрація замовлення</button>
                </a></li>
            </div>

        {% endif %}
    </div>

    <div class="row">
    {% block content %} {% endblock %}
    </div>
{% endblock %}
