{% extends 'receiver/index.html' %}
{% block title %}Визначення вартісної оцінки{% endblock %}
{% block content %}
{% load static %}
<style>
    button#services_done{
        background-color: #69D1E8;
    }
    </style>
    <div><input id="search-text" class="search" type="text" placeholder="Поиск" onkeyup="tableSearch()">
        <table id="info-table" class="table table_sort">
      <thead>
        <th>№</th>
        <th>Ім’я</th>
        <th>Прізвище</th>
        <th>Номер телефону</th>
        <th>Назва послуги</th>
        <th>Сума послуги</th>
        <th>Година завершення</th>
      </thead>
      <tbody>
        <tr>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
        </tr>
        <tr>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
        </tr>
        <tr>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
          <td>21</td>
          <td>12</td>
          <td>21</td>
        </tr>
      </tbody>
    </table></div>


{% endblock %}