@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);
body{
  background-color: #2795AD;
  font-size: 20px;
  font-family: Smokum;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
}
.title{
  font-size: 36px;
}
li{
  list-style-type:none
}
li.down{
  vertical-align:bottom;
}
button, input{
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #2795AD;
  border: black solid 3px;
  border-radius: 15px;
}

button:hover {background-color: #69D1E8}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
header {
  padding: 10px;
  display: grid;
  grid-template-columns: 7fr 1fr;
}
.header-left{
  display: flex;
  align-content: center;

}
.header-left span{
  margin-left: 10px;
}
.container-fluid{
  display: grid;
  grid-template-columns: 2fr 9fr;
}
.sidebar button{
 margin-left: 0;
  margin-bottom: 5px;
  width: 100%;
}
.registration-cssave{
  width: 300px;
  background-color: #69D1E8;
  border-radius: 20px;
  border: black solid 5px;
}
.registration-cssave form{
  padding: 20px;
  display: grid;
  justify-content: center;
  grid-row-gap: 10px;
}
.row{
  margin-left: 20%;
  margin-right: auto;
}



