{% extends 'manager/index.html' %}
{% block title %}Визначення вартісної оцінки{% endblock %}
{% block content %}
    {% load static %}
    <style>
    button#dir_serv{
        background-color: #90A702;
    }
    </style>
    <div><input id="search-text" class="search" type="text" placeholder="Поиск" onkeyup="tableSearch()">
        <table id="info-table" class="table table_sort">

            <thead>
            <th>№</th>
            <th>Ім’я</th>
            <th>Прізвище</th>
            <th>Номер телефону</th>
            <th>Кількість замовлень</th>
            <th>Дата останнього замовлення</th>
            <th>Загальна сума замовлень</th>
            </thead>
            <tbody>
            <tr>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
            </tr>
            <tr>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
            </tr>
            <tr>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
            </tr>
            <tr>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
            </tr>
            <tr>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
            </tr>
            <tr>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
            </tr>
            <tr>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
            </tr>
            <tr>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
            </tr>
            <tr>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
            </tr>
            <tr>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
            </tr>
            <tr>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
            </tr><tr>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
            </tr><tr>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
            </tr><tr>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
            </tr><tr>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
            </tr><tr>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
            </tr><tr>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
            </tr><tr>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
            </tr><tr>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
            </tr><tr>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
            </tr><tr>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
            </tr><tr>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
                <td>21</td>
                <td>12</td>
                <td>21</td>
            </tr>
            </tbody>
        </table>
    </div>


{% endblock %}