{% extends 'manager/index.html' %}
{% block title %}Визначення вартісної оцінки{% endblock %}
{% block content %}
    {% load static %}
    <style>
    button#dir_serv{
        background-color: #90A702;
    }
    </style>
    <div><div><input id="search-text" class="search" type="text" placeholder="Поиск" onkeyup="tableSearch()">
        <a href={% url 'manager:add_servs' %}>
                <button class="btn btn-dark my-2 my-sm-0" type="submit">Додати</button>
            </a></div>
        <table>
      <thead>
        <th>№</th>
        <th>Назва послуги</th>
        <th>Час виконання</th>
        <th>Обладнання</th>
        <th>Хімічні препарати</th>
        <th>Сума послуги</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        {% for serv in servs %}
                <tr>
                    <td>{{ serv.id }}</td>
                    <td>{{ serv.name }}</td>
                    <td>{{ serv.time }}</td>
                    <td>{{ serv.ownership }}</td>
                    <td>{{ serv.preparations }}</td>
                    <td>{{ serv.total }}</td>
                    <td>
                        <a href={% url 'manager:upd_servs' serv.id%}>
                            <button class="btn btn-dark my-2 my-sm-0" type="submit">Update</button>
                        </a>
                    </td>
                    <td>
                        <a href={% url 'manager:del_servs' serv.id%}>
                            <button class="btn btn-dark my-2 my-sm-0" type="submit">Delete</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
      </tbody>
    </table></div>


{% endblock %}