{% extends 'manager/index.html' %}
{% block title %}Визначення вартісної оцінки{% endblock %}
{% block content %}
    {% load static %}
    <style>
    button#shift{
        background-color: #90A702;
    }
    </style>
    <div><div><input id="search-text" class="search" type="text" placeholder="Поиск" onkeyup="tableSearch()">
        <table id="info-table" class="table table_sort">

            <thead>
            <th>№</th>
            <th>Працівник</th>
            <th>Посада</th>
            <th>Номер телефону</th>
            <th>Відроблених змін</th>
            <th></th>
            </thead>
            <tbody>
            {% for prof in profiles %}
                <tr>
                    <td>{{ prof.id }}</td>
                    <td>{{ prof.user.username }}</td>
                    <td>{{ prof.position }}</td>
                    <td>{{ prof.phone }}</td>
                    <td>{{ prof.total }}</td>
                    <td>
                        <a href={% url 'manager:add_shift' prof.id%}>
                            <button class="btn btn-dark my-2 my-sm-0" type="submit">+ Зміна</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}