{% extends 'director/index.html' %}
{% block title %}Визначення вартісної оцінки{% endblock %}
{% block content %}
{% load static %}
    <style>
    button#accounting{
        background-color: #FFC632;
    }
    </style>
    <table id="info-table" class="table table_sort" style="height: 50%">

            <thead>
            <th></th>
            <th>Січень</th>
            <th>Лютий</th>
            <th>Березень</th>
            <th>Квітень</th>
            <th>Травень</th>
            <th>Червень</th>
            <th>Липень</th>
            <th>Серпень</th>
            <th>Вересень</th>
            <th>Жовтень</th>
            <th>Листопад</th>
            <th>Грудень</th>
            </thead>
            <tbody>

            <tr>
                <td>Дохід</td>
                <td>32313</td>
                <td>5321</td>
                <td>42314</td>
                <td>54321</td>
                <td>4312</td>
                <td>4321</td>
                <td>643</td>
                <td>4213</td>
                <td>53425</td>
                <td>523</td>
                <td>5234</td>
                <td>53245</td>
            </tr>
            <tr>
                <td>Витрати</td>
                <td>53456</td>
                <td>66543</td>
                <td>5234</td>
                <td>4123</td>
                <td>342</td>
                <td>6423</td>
                <td>1324</td>
                <td>51243</td>
                <td>51234</td>
                <td>5231</td>
                <td>432</td>
                <td>312</td>
            </tr>
            <tr>
                <td>Різниця</td>
                <td>4123</td>
                <td>4123</td>
                <td>5231</td>
                <td>643</td>
                <td>4321</td>
                <td>5123</td>
                <td>62345</td>
                <td>543</td>
                <td>432</td>
                <td>65423</td>
                <td>4231</td>
                <td>6423</td>
            </tr>
            </tbody>
        </table>

{% endblock %}