{% extends 'director/index.html' %}
{% block title %}Визначення вартісної оцінки{% endblock %}
{% block content %}
    {% load static %}
    <style>
        button#analysis {
            background-color: #FFC632;
        }


        li.ui-state-active {
            background-color: #FFC632 !important;
        }

        ul.tabs {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 10px;
        }

        .tabs li {
            display: inline-block;
            padding: 10px;
            font-size: 20px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: black;
            background-color: #DD9324;
            border: black solid 3px;
            border-radius: 15px;
        }

        .tabs a {
            text-decoration: none;
            margin: 0;
            color: #000000;
        }
    </style>
    <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>
    </head>
    <body>

    <div id="tabs">
        <ul class="tabs">
            <li><a href="#tabs-1">Аналіз доходу</a></li>
            <li><a href="#tabs-2">Аналіз кількості замовлень</a></li>
            <li><a href="#tabs-3">Аналіз попиту послуг</a></li>
        </ul>
        <div id="tabs-1">
            <div class="diag" id="oil1"></div>
        </div>
        <div id="tabs-2">
            <div class="diag" id="oil2"></div>
        </div>
        <div id="tabs-3">
            <div class="diag" id="oil3"></div>
        </div>
    </div>
    <script>
        google.load("visualization", "1", {packages: ["corechart"]});
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Год', 'Заробіток'],
                ['Січень', 13000],
                ['Лютий', 20000],
                ['Березень', 12170],
                ['Квітень', 22170],
                ['Травень', 15170],
                ['Червень', 21170],
                ['Липень', 17170],
                ['Серпень', 16170],
                ['Вересень', 13170],
                ['Жовтень', 19170],
                ['Листопад', 17170],
                ['Грудень', 15170]
            ]);
            var options = {
                hAxis: {title: 'Місяць'},
                vAxis: {title: 'Заробіток'},
                'width':1000,
                'height':400
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('oil1'));
            chart.draw(data, options);
        }
    </script>
    <script>
        google.load("visualization", "1", {packages: ["corechart"]});
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Год', 'Кількість замовлень'],
                ['Січень', 15],
                ['Лютий', 42],
                ['Березень', 32],
                ['Квітень', 64],
                ['Травень', 21],
                ['Червень', 34],
                ['Липень', 53],
                ['Серпень', 65],
                ['Вересень', 34],
                ['Жовтень', 54],
                ['Листопад', 32],
                ['Грудень', 23]
            ]);
            var options = {
                hAxis: {title: 'Кількість замовлень'},
                vAxis: {title: 'Місяць'},
                'width':1000,
                'height':400
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('oil2'));
            chart.draw(data, options);
        }
    </script>
    <script>
        google.load("visualization", "1", {packages: ["corechart"]});
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Год', 'Кількість'],
                ['Січень', 324],
                ['Лютий', 321],
                ['Березень', 545],
                ['Квітень', 321],
                ['Травень', 543],
                ['Червень', 321],
                ['Липень', 654],
                ['Серпень', 423],
                ['Вересень', 765],
                ['Жовтень', 432],
                ['Листопад', 543],
                ['Грудень', 432]
            ]);
            var options = {
                hAxis: {title: 'Кількість'},
                vAxis: {title: 'Місяць'},
                'width':1000,
                'height':400
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('oil3'));
            chart.draw(data, options);
        }
    </script>
{% endblock %}