{% extends 'base.html' %} {% block title %}Приймальник замовлень{% endblock %}
{% block page %} {% load static %}
    <style>body{
        background-color: #DD9324;
    }
    button, label{
        background-color: #DD9324;
    }
    button:hover, label:hover{
        background-color: #F6C57A;
    }</style>
<div class="sidebar">
        {% if user.is_authenticated %}
            <div class="top">
                <li><a class="nav-link active" href={% url 'director:accounting' %}>
                    <button id="accounting">Фінансовий облік</button>
                </a></li>
                <li><a class="nav-link active" href={% url 'director:analysis' %}>
                    <button id="analysis">Аналіз</button>
                </a></li>
            </div>
            <div class="down">
            <div></div>
                <li><a class="nav-link active " href={% url 'director:register' %}>
                    <button id="register">Реєстрація</button>
                </a></li>
            </div>

        {% endif %}
    </div>

    <div class="row">
    {% block content %} {% endblock %}
    </div>
{% endblock %}
