{% extends 'director/index.html' %}
{% block title %}Визначення вартісної оцінки{% endblock %}
{% block content %}
{% load static %}
<style>
    button#register{
        background-color: #FFC632;
    }
    </style>
    <form class="register" action={% url 'authorize:reg' %} method='POST'>
      {% csrf_token %}
        <label>Додавання робітника</label>
        <div class="form-group">
            <label for="position">Посада</label>
            <select name="position" id="">
                <option value="Директор">Директор</option>
                <option value="Менеджер">Менеджер</option>
                <option value="Приймальник замовлень">Приймальник замовлень</option>
                <option value="Оператор сушильних машин">Оператор сушильних машин</option>
                <option value="Оператор пральних машин">Оператор пральних машин</option>
                <option value="Комплектувальник">Комплектувальник</option>
                <option value="Прасувальниця">Прасувальниця</option>
                <option value="Техноголог">Техноголог</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Мережа хімчисток</label>
            <select name="" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="username">Логин</label>
            <input class="form-control item" type="text" name="username" placeholder="Логин" required>
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input class="form-control item" type="password" name="password" placeholder="Пароль" required>
        </div>
        <div class="form-group">
            <label for="phone">Телефон</label>
            <input class="form-control item" type="text" name="phone" placeholder="Телефон" required>
        </div>
        <div class="form-group">
            <div></div>
            <button class="btn btn-primary btn-block create-account" type="submit">Вхiд</button>
        </div>
    </form>

{% endblock %}